
@import "./fonts/options";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.container {
    display: block;
    width: 1200px;
    margin: 0 auto;
}

h2:not(.left__title) {
    text-align: center;
    color: #081723;
    font-weight: 700;
    font-size: 40px;
}


.swiper {
    width: 100%;
    height: 600px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@import "./blocks/header";
@import "./blocks/cards";
@import "./blocks/sellers";
@import "./blocks/prod";
@import "./blocks/footer";


@import "./media/cards";
@import "./media/footer";

@media(max-width: 1200px) {
    .container {
        width: 92%;
    }
    h2 {
        font-size: 30px;
    }
    .sellers {
        padding: 40px 0;
    }
    .sellers__list {
        margin-top: 40px;
    }
}