
@import "./fonts/options";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.container {
    display: block;
    width: 1200px;
    margin: 0 auto;
}

h2:not(.left__title) {
    text-align: center;
    color: #081723;
    font-weight: 700;
    font-size: 40px;
}


.swiper {
    width: 100%;
    height: 600px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@import "./blocks/header";
@import "./blocks/cards";
@import "./blocks/sellers";
@import "./blocks/prod";
@import "./blocks/footer";
@import "./blocks/experience";
@import "./blocks/feedbacks";
@import "./blocks/modal";
@import "./blocks/cart";
@import "./blocks/guarantee";
@import "./blocks/business";
@import "./blocks/posts";
@import "./blocks/category";
@import "./blocks/philosophy";
@import "./blocks/story";
@import "./blocks/policy";

@import "./media/cards";
@import "./media/footer";
@import "./media/experience";
@import "./media/prod";
@import "./media/modal";
@import "./media/feedbacks";
@import "./media/guarantee";
@import "./media/business";
@import "./media/category";
@import "./media/philosophy";
@import "./media/story";

@media(max-width: 1200px) {
    .container {
        width: 92%;
    }
    h2:not(.left__title) {
        font-size: 30px;
    }
    .sellers {
        padding: 40px 0;
    }
    .sellers__list {
        margin-top: 40px;
    }
    .feedbacks__reviews {
        top: 44%;
    }
}
@media(max-width: 991px) {
    .feedbacks__reviews {

    }
}