.business {
    padding: 80px 0;
    &__subtitle {
        text-align: center;
        max-width: 780px;
        margin: 20px auto 0 auto;
        font-size: 16px;
        font-family: "Assistant", sans-serif;
        color: #081723BF;
        line-height: 28px;
        font-weight: 700;
    }
    &__items {
        padding: 36px 50px 0;
        list-style-type: none;
        display: grid;
        row-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_img {
            width: 88px;
            height: 88px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &_title {
            padding: 25px 15px;
            font-size: 18px;
            color: #081723;
            line-height: 27px;
            text-align: center;
            font-weight: 600;
            width: 100%;
        }
    }
}