@media(max-width: 1440px) {
    .modal {
        width: 88%;
    }
}

@media(max-width: 991px) {
    .modal {
        &__close {
            top: -40px;
            right: -40px;
        }
    }
}

@media(max-width: 768px) {
    .modal {
        &__close {
            top: -50px;
            right: 0;
        }
    }
}